/* 
#### ##    ## ########  #######   ######  
 ##  ###   ## ##       ##     ## ##    ## 
 ##  ####  ## ##       ##     ## ##       
 ##  ## ## ## ######   ##     ##  ######  
 ##  ##  #### ##       ##     ##       ## 
 ##  ##   ### ##       ##     ## ##    ## 
#### ##    ## ##        #######   ######  
*/

.disableFromInteractions{
    pointer-events: none;
    cursor: not-allowed;
}

.infoOnLoad{
    position: absolute;
    top: 6vh;
    left: 23vw;
    height: 800px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 1px;
    flex-direction: row;
    overflow-x: hidden;
    z-index: 100;
}
.infoPage{
    flex-direction: column;
    width: 54vw;
    height: 90%;
    display: none;
}
.page0{
    display: flex;
}

.closeButton{
    border: none;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 40px;
    font-size: 30px;
    color: red;
    font-weight: bold;
    transition: all linear 0.4s;
}
.closeButton:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.infoOpener{
    display: none;
    background: transparent;
    border: none;
    position: absolute;
    bottom: 30px;
    right: 50px;
    font-size: 30px;
    color: black;
    transition: all linear 0.4s;
}
.infoOpener:hover{
    cursor: pointer;
    color: blue;
}

.titleLine{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
}

.titleLine > h1{
    margin-left: 0;
    margin-bottom: 0;
    font-size: 32px;
}
.titleLine > ion-icon{
    margin-left: 50px;
    font-size: 30px;
    margin-right: 10px;
}

.infoOnLoad h2{
    margin-top: 10px;
    width: 90%;
    margin-left: 80px;
    margin-bottom: 0;
    text-align: left;
}


.voceInfoNoGrid{
    margin-left: 10%;
    width: 90%;
    flex-direction: row;
}
.voceInfo{
    margin-left: 10%;
    width: 85%;
    height: 50px;
    flex-direction: row;
}
.voceInfo p{
    font-size: 18px;
    line-height: 24px;
    margin-left: 0;
}
.iconContainerLegenda{
    font-size: 50px;
    margin-right: 30px;
    margin-left: 0;
}


.infoMoveButtons{
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}
.infoNext, .infoPrev{
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    font-size: 16px;
    transition: all linear 0.2s;
}
.infoNext:hover, .infoPrev:hover{
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.infoNext{
    margin-right: 5%;
}
.infoPrev{
    margin-left: 5%;
}
